<!DOCTYPE html>
<html ng-app="plunker">
<head lang="en">
    <meta charset="UTF-8">
    <meta charset="utf-8" />
    <title>AngularJS Joydip</title>
    <script>
        document.write('<base href="' + document.location + '" />');
    </script>
    <link rel="stylesheet" href="style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-cookies.min.js"></script>
    <script src="app/app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css"/>

</head>
<body>
<div class="container" ng-controller="editor">
<h1> Editor</h1>
<form name="myForm"  >
<textarea type="text" name="textarea" style="width:50%" rows="10" ng-model="editorText"></textarea>
<br>
<br>
<button type="button" ng-click="save(editorText)" > save </button>
</form>
Your Saved Text :{{editorText}}

</div>

</body>
</html>